/*@import url(https://db.onlinewebfonts.com/c/b70d0982a8403ed3ac78c0d3df09c805?family=Have+Heart+One);*/
@font-face {
    font-family: "Have Heart One";
    src: url("fonts/HaveHeartOne.otf") format("otf"),
    url("fonts/HaveHeartOne.ttf") format("ttf");
    font-weight: 400;*/
}
@font-face {
    font-family: "Bjorn";
    src: url("fonts/Bjorn Regular.otf") format("opentype"),
    url("fonts/HaveHeartOne.ttf") format("opentype");
    font-weight: 400;
}
body {
    background: #161616;
    /*font-family: "Bjorn", sans-serif;*/
}
html,
body,
header,
#intro {
    height: 100%;
}

h1,
h2
{
    font-family: "Have Heart One", sans-serif;
}
/*h3,*/
/*h4,h5{*/
/*    font-family: "Bjorn", sans-serif;*/
/*}*/
/*.navCustom {*/
/*    background:transparent;*/
/*}*/
h1{
    font-size: 175px;
    margin-bottom: 4rem;
}
h2{
    font-size: 80px;
    margin-bottom: 50px;
}
#intro {
    background: url("images/black-white-background.jpg");
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -120px;
    min-height: 950px;

}

#services{
    background: url("images/our-services-background.jpg");
    /*height: 100vh;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}
.card-img-top{
    width: 100px;
    height: 100px;
}
#mission{
    background: url("images/tio-man-background.jpg");
    /*height: 100vh;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    padding-top: 200px;
    padding-bottom: 200px;
}
#mission a{
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#clients{
    background: url("images/clients-background.jpg");
    /*height: 100vh;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 100px;
}
#clients .clients-images img{
    width: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#clients .clients-images img:hover{
    opacity: 0.3;
}
#clients #clients-button{
    border-radius: 50px;
}

#contact-us{
    background: url("images/contact-us-background.jpg");
    /*height: 100vh;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#footer{
    background-color: #0f0f0f;
    padding-top: 15px;
}
#footer p{
    text-align: right;
}
@media only screen and (max-width: 991px){
    #intro h1{
        font-size: 105px;
    }
    .card-img-top{
        width: 75px;
        height: 75px;
    }
    #services{
        padding-top: unset;
        padding-bottom: unset;
    }
    #footer{
        text-align: center;

    }
    #footer p{
        text-align: center;
        margin-top: 10px;
    }
}
