@import url('https://fonts.googleapis.com/css?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/*@font-face {*/
/*    font-family: "Have Heart One";*/
/*    src: url("fonts/HaveHeartOne.otf") format("opentype"),*/
/*    url("fonts/HaveHeartOne.ttf") format("truetype");*/
/*    font-weight: 400;*/
/*}*/
/*@font-face {*/
/*    font-family: "Bjorn";*/
/*    src: url("fonts/Bjorn%20Halftone.otf") format("opentype"),*/
/*    url("fonts/Bjorn Regular") format("opentype");*/
/*    font-weight: 400;*/
/*}*/
/*@import url(https://db.onlinewebfonts.com/c/b70d0982a8403ed3ac78c0d3df09c805?family=Have+Heart+One);*/
/*@font-face {font-family: "Have Heart One"; src: url("https://db.onlinewebfonts.com/t/b70d0982a8403ed3ac78c0d3df09c805.eot");*/
/*    src: url("https://db.onlinewebfonts.com/t/b70d0982a8403ed3ac78c0d3df09c805.eot?#iefix") format("embedded-opentype"), */
/*    url("https://db.onlinewebfonts.com/t/b70d0982a8403ed3ac78c0d3df09c805.woff2") format("woff2"), */
/*    url("https://db.onlinewebfonts.com/t/b70d0982a8403ed3ac78c0d3df09c805.woff") format("woff"), */
/*    url("https://db.onlinewebfonts.com/t/b70d0982a8403ed3ac78c0d3df09c805.ttf") format("truetype"), */
/*    url("https://db.onlinewebfonts.com/t/b70d0982a8403ed3ac78c0d3df09c805.svg#Have Heart One") format("svg"); }*/
h1,
h2
{
    /*font-family: "Have Heart One", sans-serif;*/
    /*font-family: 'Merienda One', cursive;*/
    font-family: 'Open Sans', sans-serif;
}
body {
    background: #161616;
    /*font-family: "Bjorn", sans-serif;*/
    font-family: 'Open Sans', sans-serif;
}
html,
body,
header{
    height: 100%;
}
/*h3,*/
/*h4,h5{*/
/*    font-family: "Bjorn", sans-serif;*/
/*}*/
h1{
    font-size: 117px;
    margin-bottom: 4rem;
}
h2{
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 50px;
}
/*.navbar img{*/
/*    width: 80px;*/
/*}*/
.bg-dark{
    background-color: rgba(15, 15, 15, 0.66) !important;
}
.bg-dark img{
    width: 80px;
}
#intro {
    background: url("images/black-white-background.jpg") no-repeat fixed center;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -120px;
    /*min-height: 950px;*/

}
#intro h1{
    margin-top: 200px;
}

#services{
    /*background: url("images/our-services-background.jpg");*/
    /*height: 100vh;*/
    background: url("images/black-white-background.jpg") no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*padding-top: 50px;*/
    margin-top: 0;
    padding-top: 100px;
    padding-bottom: 50px;
}
.card-img-top{
    width: 100px;
    height: 100px;
}
#mission{
    background: url("images/black-white-background.jpg") no-repeat fixed center;
    /*background: url("images/tio-man-background.jpg");*/
    /*height: 100vh;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    padding-top: 50px;
    padding-bottom: 50px;
}
#mission a{
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#clients{
    background: url("images/black-white-background.jpg") no-repeat fixed center;
    /*background: url("images/clients-background.jpg");*/
    /*height: 100vh;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*padding-top: 50px;*/
    padding-bottom: 50px;
}
#clients .clients-images img{
    width: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#clients .clients-images img:hover{
    border: 3px #636363 solid;
    border-radius: 15px;
}
#clients #clients-button{
    border-radius: 50px;
}
#contact-us{
    background: url("images/black-white-background.jpg") no-repeat fixed center;
    /*background: url("images/contact-us-background.jpg");*/
    /*height: 100vh;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}
#contact-us a{
    color: #fff;
}
#footer{
    background-color: #0f0f0f;
    padding-top: 15px;
}
#footer .group-ltd{
    text-align: unset;
    margin-top: 10px;
}
#footer p{
    text-align: right;
}
#footer img{
    width: 80px;
}
@media only screen and (max-width: 991px){
    #intro h1{
        font-size: 70px;
        margin-top: 250px;
    }
    h2{
        margin-top: 8px;
        font-size: 40px;
    }
    .card-img-top{
        width: 75px;
        height: 75px;
    }
    #services{
        padding-bottom: 50px;
    }
    #footer{
        text-align: center;

    }
    #footer p{
        text-align: center;
        margin-top: 10px;
    }
}
