#hero{
    /*height: 100vh;*/
    min-height: 600px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #000000;
}
/*#hero:before{*/
/*    content: '';*/
/*    background-image: url("../images/about/hero-after.svg");*/
/*    background-size: cover;*/
/*    top: -118px;*/
/*    right: 0;*/
/*    position: absolute;*/
/*    width: 340px;*/
/*    height: 526px;*/
/*    z-index: 1;*/
/*}*/

#hero .left-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .right-content{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 420px;
    margin: auto;
}
#hero h1{
    color: #ffffff;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 50px;
    margin-bottom: 40px;
    z-index: 2;
}

#barriers{
    padding-top: 90px;
    padding-bottom: 90px;
}
#barriers h2{
    margin-bottom: 70px;
}
#barriers .right-content{
    max-width: 450px;
    margin: auto;
}
#barriers .right-content h3 {
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}
#barriers .right-content p{
    margin-bottom: 20px;
}

@media (max-width: 991px){
    #hero{
        min-height: 350px;
    }
    /*#hero:before{*/
    /*    display: none;*/
    /*}*/
    #hero img{
    }
    #barriers{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
