#hero{
    /* height: 100vh; */
    min-height: 600px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #000000;
}
#hero:before{
    content: '';
    background-image: url("../images/about/hero-after.svg");
    background-size: cover;
    top: -115px;
    right: 0;
    position: absolute;
    width: 329px;
    height: 522px;
    z-index: 1;
}

#hero .left-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .right-content{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 420px;
    margin: auto;
}
#hero h1{
    color: #ffffff;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 50px;
    margin-bottom: 40px;
    z-index: 2;
}

#companies{
    padding-top: 70px;
    padding-bottom: 70px;
}
#companies h2{
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}
#companies p{
    text-align: center;
    max-width: 280px;
    margin: 0 auto 70px;
    height: 310px;
}
#companies .tio-link:before{
    content: '';
    width: 1px;
    height: 25px;
    background-color: #555555;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 0;
}
#companies .tio-link{
    text-align: center;
    position: relative;
    padding-top: 35px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
}
#companies .asset-col{
    margin-bottom: 70px;
}
#companies .asset-col img{
    display: block;
    width: auto;
    height: 30px;
    text-align: center;
    margin: 0 auto 20px;
}

@media (max-width: 991px){
    #companies p {
        height: auto;
    }
    #hero:before{
        display: none;
    }
    #hero {
        min-height: 360px;
    }
}