#hero{
    height: 100vh;
    min-height: 600px;
    display: flex;
    align-items: center;
    position: relative;
}
#hero:before{
    content: '';
    background-image: url("../images/index/accent-wave.svg");
    background-size: cover;
    top: -120px;
    right: 0;
    position: absolute;
    width: 289px;
    height: 323px;
    z-index: 1;
}
#hero .left-content{
    /*display: flex;*/
    /*align-items: start;*/
    /*justify-content: center;*/
}

#hero .right-content{
    /*display: flex;*/
    /*align-items: start;*/
    /*justify-content: center;*/
    max-width: 420px;
    margin: 0 auto;
}
#hero h2{
    text-transform: uppercase;
    margin-bottom: 50px;
}

.forma-outer{
    width: 100%;
    text-align: center;
    max-width: 500px;
    margin: auto;
}
.forma{
    padding: 20px 30px;
    text-align: left;
    background-color: #363636;
    border-radius: 5px;
    color: #A8A8A8;
}
.forma input{
    background-color: #000000;
    border: 1px solid #565656;
    padding: 20px;
    color: #a8a8a8;
    height: 50px;
}
.forma .hs-email label{

}
.forma textarea{
    background-color: #000000;
    border: 1px solid #565656;
    color: #a8a8a8;
    min-height: 120px;
    margin-bottom: 20px;
}

.forma .hs-button {
    border: 2px solid #F26C4F;
    border-radius: 0;
    width: 180px;
    padding: 10px 20px;
    display: block;
    background: linear-gradient(to right, #F26C4F 50%, #363636 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
}

.forma .hs-button:hover {
    background-position: left bottom;
    text-decoration: none;
    color: #ffffff;
}
.forma ul{
    color: red;
    list-style: none;
    padding: 0;
}
.white{
    color: #ffffff;
}
.grey{
    color: #a8a8a8;
}
@media (max-width: 991px){
    #hero:before{
        display: none;
    }
    .forma-outer{
        margin-bottom: 50px;
    }
    #hero h2{
        text-align: center;
    }
}